@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Monoton&display=swap');

:root{
--button-link-color: #C6361C;
}

*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

body{
    height: 100vh;
    background-color: rgb(248, 248, 248);
}

a{
    text-decoration: none;
}

.fullContainer {
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.leftContainer {
    flex: 1;
    display: flex;
    background-color: #212121;
    background-image: url(images/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: -400px;
    color: #f8f8f8;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.rightContainer{
    flex: 1.7;
    height:100%;
    display: flex;
    flex-direction: column;
    background-color: #f8f8f8;
}

.formContainer{
    flex: 1;
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 20px 80px 40px 45px;
    box-shadow: 0px 10px 15px -15px rgba(0,0,0,0.75);
    box-sizing: border-box;
    color: #212121;
}

.inputContainer{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 70px;
    text-transform: uppercase;
}
.textContainer{
    flex: 2;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    justify-content: flex-end;
    box-sizing: border-box;
    color: #212121;
    font-size: 24px;
    font-weight: 500;
    /* margin-bottom: 50px; */
    gap: 25px;
}

.textContainer p:first-child{
    margin: 0px 80px 0px 45px;
}

.textContainer p:last-child{
    margin: 0px 80px 60px 45px;
}

.bottomRight{
    flex: 1.5;
}
.bottomRight p{
    margin: 20px 0 0 45px;
    font-size: 1.1rem;
}

a:link, a:visited{
    /* color:#727C57; */
    /* color: #c40014; */
    color: var(--button-link-color);
    font-weight: 600;
}

.column1, .column2 {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

form{
    flex: 1;
    display: flex;
    flex-direction: column;
}

input {
    width: 100%;
    max-width: 250px;
    height: 2rem;
    border-radius: 5px;
    border: 1px solid #dddddd;
    padding-left: 5px;
}

input:not(:placeholder-shown){
    border-color: var(--button-link-color);
}

input:valid {
    border-color: #1c9ec6;
}

input:focus{
    box-shadow: 5px 4px 20px -12px rgba(0,0,0,0.75);
}

label{
    font-size: 12px;
    color: #212121;
    font-weight: 500;
    opacity: 70%;
}

h1{
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 15px;
}

button {
    margin: 36px 80px 0px 45px;
    /* background-color: #c40014; */
    /* background-color: #013220;
    background-color: #2D3C1F; */
    /* background-color: #727C57; */
    background-color: var(--button-link-color);
    padding: 15px 50px;
    font-size: 1.1rem;
    border-radius: 7px;
    color: #FFFFFF;
    font-weight: 700;
    cursor: pointer;
    border: none;
}

.logo{
    background-image: url(images/icon.svg);
    width: 150px;
    height:100px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 25px -10px;
    filter: invert(99%) sepia(9%) saturate(382%) hue-rotate(280deg) brightness(117%) contrast(100%);
}

.logoContainer{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    position: relative;
    bottom: 23.2%;
    height: 14%;
    padding-right: 50px;
}

.logoContainer p{
    padding-top: 4px;
    font-size: 40px;
    font-family: 'Monoton', cursive, sans-serif;
    color:#FFFFFF;
    text-transform: uppercase;
}

.formContainer p{
    font-size: 10px;
    box-sizing: border-box;
    margin-top: 5px;
    padding: 0px;
}